@model OnlineExaminationSystem.Models.Course

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/container_alert.css" asp-append-version="true" />
</head>

<div class="container-3d">
   
    <div class="text-center">
        <div class="d-flex align-items-center mb-3 justify-content-center">
            <a href="javascript:history.back()" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i>
            </a>
            <h1 class="mx-auto">Course Details</h1>
        </div>
    </div>
<div>

        <div class="separator">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
    </div>
</div>