@using Newtonsoft.Json;
@using OnlineExaminationSystem.ViewModels
@model QuestionViewModel

<h1>Edit Question</h1>

<form asp-action="Edit" method="post">

    <div class="form-group">
        <label asp-for="QuestionText"></label>
        <input asp-for="QuestionText" class="form-control" />
        <span asp-validation-for="QuestionText" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="QuestionType"></label>
        <select asp-for="QuestionType" asp-items="Model.QuestionTypes" class="form-control"></select>
        <span asp-validation-for="QuestionType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Points"></label>
        <input asp-for="Points" class="form-control" />
        <span asp-validation-for="Points" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CourseId"></label>
        <select asp-for="CourseId" asp-items="Model.Courses" class="form-control"></select>
        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div>

    <h4>Answers:</h4>

    <div id="answers">
        @foreach (var answer in Model.Answers)
        {
            <div class="form-group">
                <label>Answer</label>
                <input type="text" name="answer.AnswerText" value="@answer.AnswerText" class="form-control" />
                <span asp-validation-for="@answer.AnswerText" class="text-danger"></span>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="answer.IsCorrect" value="true" @(answer.IsCorrect ? "checked" : "")>
                    <label class="form-check-label">Is Correct</label>
                </div>
                <button type="button" class="btn btn-danger delete-answer">Delete</button>
            </div>
        }
    </div>

    <button type="button" id="add-answer" class="btn btn-primary">Add Answer</button>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
    <input type="hidden" name="AnswersJson" id="AnswersJson" />
</form>



@section Scripts {
    <script>
        $(function () {
         

            $(document).on('click', '.delete-answer', function () {
                $(this).closest('.form-group').remove();
            });


        });
    </script>
    <script src="~/js/editQuestionAns.js" asp-append-version="true"></script>
    <script src="~/js/addAnswerInEditQuestion.js" asp-append-version="true"></script>
}
