@model List<Question>


<style>
    .container-3d {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 80%; /* Adjust the percentage value as needed */
        margin: auto; /* Center the container horizontally */
    }

    .heading {
        text-align: center;
    }

    .separator {
        margin: 20px 0;
        border: none;
        border-top: 1px solid #000;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .centered {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

</style>

<div class="container-3d">
    <div class="text-center">
        <div class="d-flex align-items-center mb-3">
            <a href="javascript:history.back()" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i>
            </a>
            <h1 class="mx-auto">Questions</h1>
        </div>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>Question Text</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model)
        {
            <tr>
                <td>@question.Text</td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = question.Id }, new { @class = "btn btn-info" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = question.Id }, new { @class = "btn btn-primary" })
                </td>
       
            </tr>
        }
    </tbody>
</table>
</div>