@model List<Question>

<head>
    <link rel="stylesheet" href="~/css/container_alert.css" asp-append-version="true" />
</head>

<div class="container-3d">
    <div class="text-center">
        <div class="d-flex align-items-center mb-3">
            <a href="javascript:history.back()" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i>
            </a>
            <h1 class="mx-auto">Questions</h1>
        </div>
    </div>

    <div class="search-bar">
        <input type="text" id="search-input" class="form-control" placeholder="Search by question text" />
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Question Text</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model)
            {
                <tr>
                    <td>@question.Text</td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = question.Id }, new { @class = "btn btn-info" })
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = question.Id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script src="~/js/examNotificationToastr.js"></script>
    <script src="~/js/questionFilter.js"></script>
}

