.container-3d {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: auto;
}

.heading {
    text-align: center;
}

.separator {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #000;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.centered {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-bar {
    margin-bottom: 20px;
}
.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

    .custom-alert .alert-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .custom-alert .alert-message {
        font-size: 16px;
    }

