.selected-participants-container {
    margin-top: 10px;
}

.selected-participant {
    display: inline-block;
    padding: 5px;
    background-color: lightblue;
    margin-right: 5px;
}

.delete-participant {
    cursor: pointer;
    margin-left: 5px;
    color: red;
    font-weight: bold;
}
