.container-3d {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%; /* Adjust the percentage value as needed */
    margin: auto; /* Center the container horizontally */
}

.heading {
    text-align: center;
}

.container-3d .form-group {
    margin-bottom: 10px; /* Add margin between form groups */
}

.container-3d .button-separator {
    height: 2px;
    background-color: black;
    margin: 20px 0; /* Add margin above and below the line */
}
