/* styles.css */

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.table tbody tr:hover {
    background-color: #ffddcc;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.table-container { /*assignment*/
    max-height: 200px; /* Adjust the height as per your requirements */
    overflow-y: auto;
}
