@using OnlineExaminationSystem.ViewModels
@using OnlineExaminationSystem.Common
@model ExamViewModel


<head>
    <link rel="stylesheet" href="~/css/container_alert.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/examCreate.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/examQuestions.css" asp-append-version="true" />
</head>

<div class="container-3d">
    <form asp-action="CreateExam" id="create-exam-form">
  
        <div id="message-container"></div>
        <div class="text-center">
            <div class="d-flex align-items-center mb-3">
                <a href="javascript:history.back()" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i>
                </a>
                <h2 class="mx-auto">Create Exam</h2>
            </div>
     
            <hr class="separator">
        </div>
        <div class="form-group">
            <label for="CourseId">Select a course</label>
            <select name="CourseId" id="course-dropdown" class="form-control">
                <option value="">-- Select a course --</option>
                @foreach (var course in Model.Courses)
                {
                    <option value="@course.Value">@course.Text</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ExamDuration"></label>
            <input asp-for="ExamDuration" id="exam-time-input" class="form-control" />
            <span asp-validation-for="ExamDuration"></span>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="isCheatSecured" name="IsCheatSecured" value="true">
                <label class="form-check-label" for="isCheatSecured" data-toggle="tooltip" data-placement="top" title="@ConstantStrings.CheatSecurityExplanation">
                    Cheat Security
                </label>
            </div>
        </div>

        <div class="form-group">
            <div id="create-exam-inputs"></div>
            <input type="hidden" name="SelectedQuestionIdsJson" id="SelectedQuestionIdsJson" />
        </div>

        <div class="form-group">
            <label for="SelectedQuestionIds">Select a question</label>
            <select id="SelectedQuestionIds" name="SelectedQuestionIds" class="form-control">
                <option value="">-- Select a question --</option>
            </select>
        </div>

        <div class="bottom-container">
            <div class="bottom-content">
                <div class="form-group">
                    <label for="NumberOfQuestions">Number of questions:</label>
                    <input type="number" id="num-questions-input" name="NumberOfQuestions" min="1" value="1">
                </div>
                <div>
                    <button id="generate-questions-button" class="btn btn-primary">Generate Questions</button>
                </div>
            </div>
        </div>

        <div id="generatedQuestions"></div>
        <hr class="separator">
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>







@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/js/flatpickr.js"></script>
    <script src="~/js/enableTooltip.js"></script>
    <script src="~/js/generateQuestionFromDropdown.js"></script>
    <script src="~/js/checkDates.js"></script>
    <script src="~/js/filterQuestionsByCourse.js"></script>

    }