@using OnlineExaminationSystem.ViewModels
@model ExamViewModel

<h2>Create Exam</h2>

<form asp-action="CreateExam" id="create-exam-form">


    <div id="message-container"></div>

    <div class="form-group">
        <label for="CourseId">Select a course</label>
        <select name="CourseId" id="course-dropdown" class="form-control">
            <option value="">-- Select a course --</option>
            @foreach (var course in Model.Courses)
            {
                <option value="@course.Value">@course.Text</option>
            }
        </select>
    </div>
 


    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartTime"></label>
        <input asp-for="StartTime" id="start-time-input" class="form-control " />
        <span asp-validation-for="StartTime"></span>
    </div>

    <div class="form-group" style="margin-bottom:20px">
        <label asp-for="EndTime"></label>
        <input asp-for="EndTime" id="end-time-input" class="form-control " />
        <span asp-validation-for="EndTime"></span>
        <span id="time-error" style="color:red;display:none;"></span>
    </div>


    <div class="form-group">
        <div id="create-exam-inputs"></div>
        <input type="hidden" name="SelectedQuestionIdsJson" id="SelectedQuestionIdsJson" />
    </div>

    <div class="form-group">
        <label for="SelectedQuestionIds">Select a question</label>
        <select id="SelectedQuestionIds" name="SelectedQuestionIds" class="form-control">
            <option value="">-- Select a question --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="NumberOfQuestions">Number of questions:</label>
        <input type="number" id="num-questions-input" name="NumberOfQuestions" min="1" value="1">
    </div>

    <button id="generate-questions-button" class="btn btn-primary">Generate Questions</button>

    <div id="generatedQuestions"></div>

    <button type="submit" class="btn btn-primary">Create</button>

</form>




@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/examQuestions.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/js/flatpickr.js"></script>
    <script src="~/js/generateDropdown.js"></script>
    <script src="~/js/showNowDate.js"></script>
    <script src="~/js/checkDates.js"></script>
    <script src="~/js/filterQuestionsByCourse.js"></script>
    }