@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/loginPage.css" asp-append-version="true" />
</head>

<div class="container">
    <div class="container">
        <div class="big-card">
            <h1 class="card-title">Welcome</h1>
            <p class="card-text">Please, login!</p>
            <a href="Identity/Account/Login" class="btn-circle"><i class="bi bi-door-open fs-1"></i></a>
        </div>
    </div>
</div>