<head>

    <link rel="stylesheet" href="~/css/welcomeMessage.css">
    <link rel="stylesheet" href="~/css/container_alert.css" asp-append-version="true" />
</head>

<div class="welcome-text">Welcome!</div>

<script src="~/js/examNotificationToastr.js"></script>