<div class="container">
    <div class="row">
        <div class="col">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary btn-lg custom-btn text-white mx-2" asp-area="" asp-controller="ChatPanel" asp-action="Index">
                        Chat Panel
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn btn-secondary btn-lg custom-btn text-white mx-2" asp-area="" asp-controller="Assignment" asp-action="StudentAssignments">
                        See Assignments
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
