<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="ChatPanel" asp-action="Index">Chat Panel</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Assignment" asp-action="StudentAssignments">See Assignments</a>
</li>
